<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/dist/style.css')}}">
</head>

<body>
    <header>
        <main>
            <nav>
                <div id="logo">LOGO</div>
                <ul id="navbar">
                </ul>
            </nav>
            {% block content %}{% endblock %}
        </main>
    </header>
    <footer>
        <p class="color-text" style="font-size: 13px;">Copyright &copy; 2020 All Rights Reserved by <a
                href="#">SoftDev</a></p>
    </footer>
    {% block script %}{% endblock %}
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>